body {
	background-color: lightblue;
}

.total{
	text-align: center;
}

.won{
	text-align: center;
}

.lost{
	text-align: center;
}

.containers{
	display: flex;
	justify-content: space-around;
	align-items: horizontal;
}

.crystal{
	border:5px solid blue;
	height:200px;
	width:200px;
	background: purple;
}

