body {
	background-color: lightblue;
}

.crystals{
	display: flex;
	justify-content: space-around;
	align-items: vertical;
}

.crystal{
	border:5px solid blue;
	height:200px;
	width:200px;
	background: purple;
}
